body {
    background-image: url(images/photo1677701047.jpeg);
    background-size: cover;
}

.container {
    font-family: Roboto;
font-size: 15px;
font-weight: 300;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

font-family: Roboto;
font-size: 48px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: left;

font-family: Roboto;
font-size: 64px;
font-weight: 700;
line-height: 75px;
letter-spacing: 0em;
text-align: left;
margin-left: 103px;
margin-top: 507px;

}
.logo{
    height: 24px;
    width: 46px;
    left: 103px;
    top: 37px;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.here{
font-family: Roboto;
font-size: 48px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
color: #90C5FB;

}
.dpgr{
font-family: Roboto;
font-size: 64px;
font-weight: 700;
line-height: 75px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
top: 377px;
left: 103px;
right: 1478px;
}
.text{
height: 54px;
width: 538px;
left: 152px;
top: 507px;
border-radius: nullpx;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}
 .rectangle{ 
    left: 103px;
    top: 507px;
    height: 54px;
    width: 3px;
    border-radius: 31px;
   color: #FFFFFF3B;
} 
.button1 {
    height: 45px;
    width: 193px;
    left: 594px;
    top: 694px;
    border-radius: 0px;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    height: 24px;
width: 110px;
left: 41.5px;
top: 10.5px;
border-radius: nullpx;
}
.frame14{
    height: 48px;
    width: 447px;
    left: 1372px;
    top: 29px;
    border-radius: 0px;
    padding: 10px;
    

}